.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
  left: -50px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
}

.nav__link {
  color: black;
  text-decoration: none;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.nav__link:hover {
  color: #2f80ed;
  transition: color 0.5s linear 0s;
}
